{% extends "layout.html" %} {% block container %} {% import "_macros.html" as macros %}

<form action="" method="POST" novalidate class="max-w-sm mx-auto">
  {{ form.csrf_token }}
  <input type="hidden" name="csrf_token" value="{{ csrf_token() }}" />
  <div class="mb-5">
    {{ macros.campoNuevo(form.id, class="bg-neutral-secondary-medium
    border border-default-medium text-heading text-sm rounded-base
    focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs
    placeholder:text-body") }}
  </div>
  <div class="mb-5">
    {{ macros.campoNuevo(form.nombre, class="bg-neutral-secondary-medium
    border border-default-medium text-heading text-sm rounded-base
    focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs
    placeholder:text-body") }}
  </div>
  <div class="mb-5">
    {{ macros.campoNuevo(form.apellidos, class="bg-neutral-secondary-medium
    border border-default-medium text-heading text-sm rounded-base
    focus:ring-brand focus:border-brand block w-full px-3 py-2.5 shadow-xs
    placeholder:text-body") }}
  </div>
  <div class="mb-5">
    {{ macros.campoNuevo(form.email, class="bg-neutral-secondary-medium border
    border-default-medium text-heading text-sm rounded-base focus:ring-brand
    focus:border-brand block w-full px-3 py-2.5 shadow-xs
    placeholder:text-body") }}
  </div>
  <div class="mb-5">
    {{ macros.campoNuevo(form.telefono, class="bg-neutral-secondary-medium border
    border-default-medium text-heading text-sm rounded-base focus:ring-brand
    focus:border-brand block w-full px-3 py-2.5 shadow-xs
    placeholder:text-body") }}
  </div>
  <div class="grid md:grid-cols-2 md:gap-6">
    <input type="submit" id="btn1" name ="btn1" value="Registrar" class="w-full text-white bg-blue-600 hover:bg-blue-700 
           font-medium rounded-lg text-sm px-5 py-2.5 
           focus:outline-none focus:ring-4 focus:ring-blue-300 
           transition" />
  </div>
  <a href="index" 
  class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4">
    Eliminar
  </a>
  <a href="index" 
  class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 bg-blue-600 hover:bg-blue-700
">
    Regresar
  </a>
</form>
</div>
{% endblock %}