{% extends "layout.html" %} 
{% block container %} 



    <div class="py-32 relative overflow-x-auto">
    
    <a href="Alumnos" class="text-white bg-brand box-border border border-transparent hover:bg-brand-strong focus:ring-4 focus:ring-brand-medium shadow-xs font-medium leading-5 rounded-base text-sm px-4 py-2.5 focus:outline-none">Leer mas
    </a>
        <table class="w-full text-sm text-left rtl:text-right text-body">
            <thead class="text-sm text-body bg-neutral-secondary-soft border-b rounded-base border-default">
                <tr>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Nombre
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        APaterno
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Correo
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Editar
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Detalles
                    </th>
                    <th scope="col" class="px-6 py-3 font-medium">
                        Eliminar
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr class="bg-neutral-primary border-b border-default">
                    <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                        Gilberto
                    </th>
                    <td class="px-6 py-4">
                        Sánchez
                    </td>
                    <td class="px-6 py-4">
                        carlos.ramirez@gmail.com

                    </td>
                    <td class="px-6 py-4">
                        
                    <a href="Alumnos" class="font-medium text-fg-brand hover:underline">Editar</a>

                    </td>
                    <td class="px-6 py-4">
                        
                    <a href="#" class="font-medium text-fg-brand hover:underline">Detalles</a>

                    </td>
                    <td class="px-6 py-4">
                        
                    <a href="#" class="font-medium text-fg-brand hover:underline">Eliminar</a>

                    </td>
                </tr>
                <tr class="bg-neutral-primary border-b border-default">
                    <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                        Pablo
                    </th>
                    <td class="px-6 py-4">
                        Ramírez
                    </td>
                    <td class="px-6 py-4">
                        fernanda.lopez@gmail.com
                    </td>
                    <td class="px-6 py-4">
                        
                    <a href="Alumnos" class="font-medium text-fg-brand hover:underline">Editar</a>

                    </td>
                    <td class="px-6 py-4">
                        
                    <a href="#" class="font-medium text-fg-brand hover:underline">Detalles</a>

                    </td>
                    <td class="px-6 py-4">
                        
                    <a href="#" class="font-medium text-fg-brand hover:underline">Eliminar</a>

                    </td>
                </tr>
                <tr class="bg-neutral-primary">
                    <th scope="row" class="px-6 py-4 font-medium text-heading whitespace-nowrap">
                        Diego
                    </th>
                    <td class="px-6 py-4">
                        Bolaños
                    </td>
                    <td class="px-6 py-4">
                        diego.martinez@gmail.com
                    </td>
                    <td class="px-6 py-4">
                        
                    <a href="Alumnos" class="font-medium text-fg-brand hover:underline">Editar</a>

                    </td>
                    <td class="px-6 py-4">
                        
                    <a href="#" class="font-medium text-fg-brand hover:underline">Detalles</a>

                    </td>
                    <td class="px-6 py-4">
                        
                    <a href="#" class="font-medium text-fg-brand hover:underline">Eliminar</a>

                    </td>
                </tr>
            </tbody>
        </table>
    </div>


{% endblock %}